// ==== FONT ====
@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: url('@fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    src: url('@fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('@fonts/Gilroy-Bold.ttf') format('truetype');
}

// ==== VARIABLES ====
$black: #010101;
$grey: #A4A4A4;
$accent: #FFBCA2;

// ==== BREAKPOINT ====
@mixin respond ($breakpoint) {
    @if $breakpoint==from-desk {
        @media only screen and (min-width: 1440px) {
            @content;
        }
    }

    @if $breakpoint==to-desk {
        @media only screen and (max-width: 1440px) {
            @content;
        }
    }

    @if $breakpoint==from-tabl {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }

    @if $breakpoint==tabl {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    @if $breakpoint==from-mob {
        @media only screen and (min-width: 360px) {
            @content;
        }
    } 

    @if $breakpoint==mob {
        @media only screen and (max-width: 360px) {
            @content;
        }
    } 
}

// ==== DEFAULT FONT ====
@mixin dFont {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: white;
}

@mixin mobSize {
    font-size: 2.4rem;
    line-height: 2.8rem;
}


// ==== DEFAULT TRANSITION ====
@mixin dTrans {
    transition: all .3s ease;
}

// ==== Recolor svg =====
@mixin toWhite {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(102deg) brightness(107%) contrast(101%);
    &:hover {
        filter: invert(74%) sepia(9%) saturate(1515%) hue-rotate(327deg) brightness(105%) contrast(104%);
    }
}

@mixin toGrey {
    filter: invert(70%) sepia(1%) saturate(320%) hue-rotate(318deg) brightness(88%) contrast(86%);
    &:hover {
        filter: invert(74%) sepia(9%) saturate(1515%) hue-rotate(327deg) brightness(105%) contrast(104%);
    }
}



