@import "~normalize.css";
@import "./add";
@import "./pages/main_screen";
@import "./pages/setting_screen";
@import "./pages/categories_screen";
@import "./pages/game_author";
@import "./pages/message";


//==== BASE ====
* {
    margin: 0;    
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}


//==== BODY ====
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    min-height: 100%;
    padding: 2rem;
    background: $black;

    @include dFont;

    &#main {
        background: url('@img/main-screen-bg.jpg') center no-repeat;
        background-size: cover;

        & > header {
            .setting-button {
                margin-left: auto;
            }
        }

        & > main > section { 
            @include respond(mob) {
                margin-top: auto;
            } 
        }

        @include respond(from-tabl) {
            background-position: top 10% center;
        }
    }

    &#settings {
        
        .main-screen__content {
            display: none;
        }
        & > header {
            .logo {
                display: none;
            }
            @include respond(mob) {
                .setting-button.close {
                    visibility: hidden;
                }
            }
            @include respond(from-mob) {
                column-gap: 3rem;
                .page-title {
                    margin-right: auto;
                }
            }
        }
        & > main {
            @include respond(mob) {
                margin-top: auto;
            } 
        }
    }

    &#categories {
        padding: 6rem;

        .setting-screen__content, .main-screen__content {
            display: none;
        } 
        & > header {
            .back, .page-title {
                display: none;
            }
            @include respond(from-mob) {
                margin-bottom: 7rem;
            }
        }
        & > footer {
            @include respond(tabl) {
                .footer-creds {
                    display: none;
                }
            }
        }
        @include respond(mob) {
            padding: 1.6rem;
        }
        @include respond(from-mob) {
            padding: 5%;
        } 
              
    }

    @include respond(mob) {
        // row-gap: 5rem;
    }

    @include respond(from-tabl) {
        padding: 3rem;
    }

    @include respond(from-desk) {
        max-width: 1440px;
        margin: 0 auto;
    }
}

//====> HEADER ====
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .header-menu {
        display: flex;
        column-gap: 4rem;
        &__link {
            font-size: 1.8rem;
            line-height: 1.8rem;
            font-weight: 500;
            color: white;
            transition: all .1s ease;
            &:hover {
                color: $accent;
                font-weight: 700;
            }
            &.active {
                color: $accent;
                font-weight: 700;
                cursor: inherit;
            }
        }
        @include respond(tabl) {
            display: none;
        }
        @include respond(from-tabl) {
            margin-right: auto;
        }
    }

    @include respond(from-tabl) {
        column-gap: 10%;
    }

}

//====> MAIN ====
main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 100%;
}

//====> FOOTER ====
footer {
    width: 100%;
   
    .footer-creds {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        font-size: 1.6rem;
        color: white;
        #author {
            color: white;
            @include dTrans;
            &:hover {
                color: $accent;
                text-decoration: underline;
            }
            @include respond(from-tabl) {
                margin-left: auto;
            }
        }
    
        #rss {
            display: block;
            background: url('@svg/rs_school_logo.svg') no-repeat;
            background-size: contain;
            background-position: center center;
            width: 6rem;
            height: 3rem;
            @include respond(mob) {
                width: 6rem;
                height: 3rem;
            }
            @include respond(from-tabl) {
                width: 10rem;
                height: 5rem;
            }
            
        }

        @include respond(from-tabl) {
            column-gap: 8rem;
        }
    }

    .fixed-mobile-menu {
        box-sizing: border-box;
        position: fixed;

        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        bottom: 0;
        left: 0;

        height: 7.5rem;
        width: 100%;
        padding-bottom: 1.3rem;

        background: $black;
        border-radius: 2rem 2rem 0px 0px;
        border: 0.1rem solid white;
        &__link {
            position: relative;
            @include dFont;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.8rem;
            @include dTrans;
            &::before {
                content: '';
                position: absolute;
                top: -150%;
                left: 50%;
                transform: translateX(-50%);
                height: 2rem;
                width: 2rem;
                @include toWhite;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                @include dTrans;
            }
            &#home-link {
                &::before {
                    background-image: url('@svg/icons/menu/home.svg');
                }
            }
            &#cat-link {
                &::before {
                    background-image: url('@svg/icons/menu/cat.svg');
                }
            }
            &#score-link {
                &::before {
                    background-image: url('@svg/icons/menu/score.svg');
                }
            }
            &:hover {
                color: $accent;
                text-shadow: 0 0 0.01rem $accent;
                &::before {
                    filter: invert(74%) sepia(9%) saturate(1515%) hue-rotate(327deg) brightness(105%) contrast(104%);
                }
            }
        }

        @include respond(from-tabl) {
            display: none;
        }
    }

}

//==== LOGO ====
.logo {
    display: flex;
    position: relative;
    text-align: center;
    width: max-content;
    padding-left: 1.3rem;

    h1 {
        @include dFont;
        font-weight: 700;
        font-size: 4.2em;
        line-height: 6rem;
        margin: 0;
    }

    .circle {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        box-sizing: border-box;
        height: 6.2rem;
        width: 6.2rem; 
        border: 0.05rem solid #FFFFFF;
        border-radius: 50%;
        &:nth-child(2) {
            left: 3.1rem;
        }
    }

    &.light {
        color: white;
    }

    &.accent {
        h1 {
            z-index: 2;
            span {
                color: $accent;
            }
        }
    }

    @include respond(from-tabl) {
        h1 {
            font-size: 8rem;
            line-height: 11.6rem;
        }
        .circle {
            height: 12rem;
            width: 12rem;
            &:nth-child(2) {
                left: 6rem;
            }
        }
        &.accent {
            h1 {
                font-size: 4.2rem;
                line-height: 6rem;
            }
            .circle {
                height: 6rem;
                width: 6rem;
                &:nth-child(2) {
                    left: 3rem;
                }
            }
        }
    }

    @include respond(from-desk) {
        padding-left: 3.5rem;
        h1 {
            font-size: 11.1rem;
            line-height: 16rem;
        }
        .circle {
            height: 16rem;
            width: 16rem;
            border: 0.26rem solid #FFFFFF;
            &:nth-child(2) {
                left: 8rem;
            }
        }
        &.accent {
            padding-left: 1.3rem;
            .circle {
                border-width: 0.1rem;
            }
        }
    }
}

//==== BUTTONS ====
button, a {
    box-sizing: border-box;
    background: none;
    outline: none;
    border: none;
    @include dTrans;
    
    &.default-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.4rem 1.4rem; 
        width: 26.5rem;
        border: 0.1rem solid white;
        border-radius: 5rem;
        @include dFont;
        @include mobSize;
        &:hover {
            background: white;
        }
        &.dark {
            color: $black;
            border-color: $black;
            &:hover {
                background: $black;
                color: white;
            }
        }
    }

    &.header-button {
        height: 3rem;
        width: 3rem;
        @include toWhite;
    }

    &.setting-button {
        background: url('@svg/icons/settings.svg') no-repeat;
        background-size: contain;
        &.close {
            background: url('@svg/icons/close.svg') no-repeat;
            background-size: contain;
        }
    }

    &.back {
        background: url('@svg/icons/back.svg') no-repeat;
        background-position: center;
        background-size: contain;
    }

    &.volume-control {
        height: 2rem;
        width: 3rem;
        &.mute {
            background: url('@svg/icons/mute.svg') no-repeat;
            background-size: contain;
            background-position: left;
        }
        &.full {
            background: url('@svg/icons/volume-full.svg') no-repeat;
            background-size: contain;
            background-position: right;
        }
        @include toGrey;
    }

    &.timer-quant-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.3rem;
        width: 3.3rem;
        padding: 0;
        background: white;
        border-radius: 50%;
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 0;
        &:hover {
            background: $accent;
        }
    }

    &.close {
        min-width: 2rem;
        width: auto;
        background: url('@svg/icons/close.svg') no-repeat;
        background-size: contain;
        @include toGrey;
    }

    &.answer-button {
        &.right {
            background: $green;
            border-color: $green;
            color: $black;
        }
        &.wrong {
            background: $red;
            border-color: $red;
            color: $black;
        }
    }

    &:hover {
        cursor: pointer;
        color: $black;
    }
}

//==== INPUTS ====
.range-type-input {
    -webkit-appearance: none;
    flex: 1 1 auto;
    height: 0.3rem;
    background: linear-gradient(to right, $accent 0%, $accent 50%, $grey 50%, $grey 100%);
    border-radius: 2rem;
    &:focus {
        outline: none;
    }
    @mixin thumb {
        box-sizing: border-box;
        -webkit-appearance: none;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        cursor: ew-resize;
        border: none;
        background: white;
    }
    &::-webkit-slider-thumb {
        @include thumb;
    }
    
    &::-moz-range-thumb {
        @include thumb;
    }
    &:hover {
        cursor: pointer;
    }
}

.switcher-type-input {
    -webkit-appearance: none;
    position: relative;
    outline: none;
    width: 5rem;
    height: 2rem;
    background: $grey;
    border-radius: 50px;
    padding: 0.3rem;
    @include dTrans;
    
    &:after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        top: 50%;
        // left: 0.4rem;
        background: white;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        transform: translateY(-50%);
        @include dTrans;
    }
      
    &:checked {
        background: $accent;
        &:after {
            right: 0.3rem;
        }
    }
      
    &:hover {
        cursor: pointer;
    }
}

.default-label {
    @include dFont;
    @include mobSize;
    font-weight: 500;
}

.number-type-input {
    all: unset;
    @include mobSize;
    -moz-appearance: textfield;
    text-align: center;
    width: 7rem;
    &::-webkit-inner-spin-button {
        display: none;
    }
}

//==== H1-H? ====
.page-title {
    @include dFont;
    font-weight: 500;
    @include respond(mob) {
        @include mobSize;
    }
    @include respond(tabl) {
        font-size: 3.6rem;
    }
    @include respond(from-tabl) {
        font-size: 4.6rem;
    }
}

.main-quastion {
    @include dFont;
    font-weight: 500;
    @include respond(mob) {
       font-size: 2.2rem;
       line-height: 2.8rem;
    }
    @include respond(tabl) {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
    @include respond(from-tabl) {
        font-size: 2.8rem;
        line-height: 2.8rem;
        font-weight: 700;
    }

    
    
}

.setting-item-title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.8rem;
}

.message__content {
    @include dFont;
    font-size: 3.2rem;
    line-height: 3.6rem;
    font-weight: 500;
    color: $black;
}

