@import "~normalize.css";
@import "./add";
@import "./pages/main_screen";
// @import "./settings";


//==== BASE ====
* {
    margin: 0;    
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('@img/main-screen-bg.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 2rem;
    @include dFont;
    &.main-screen{
        header {
            align-self: flex-end;
        }
    }

    @include respond(mob) {
        row-gap: 5rem;
        main {
            margin-top: auto;
        }
    }

    @include respond(from-tabl) {
        padding: 3rem;
    }
}

//==== LOGO ====
.logo {
    display: flex;
    position: relative;
    text-align: center;
    width: max-content;
    padding-left: 1.3rem;

    h1 {
        @include dFont;
        font-weight: 700;
        font-size: 4.2em;
        line-height: 6rem;
        margin: 0;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        box-sizing: border-box;
        height: 6.2rem;
        width: 6.2rem; 
        border: 0.05rem solid #FFFFFF;
        border-radius: 50%;
        &:nth-child(2) {
            left: 3.1rem;
        }
    }

    &.light {
        color: white;
    }
    @include respond(from-tabl) {
        padding-left: 2.5rem;
        h1 {
            font-size: 8rem;
            line-height: 11.6rem;
        }
        span {
            height: 12rem;
            width: 12rem;
            &:nth-child(2) {
                left: 6rem;
            }
        }
    }
}

//==== BUTTONS ====
.button {
    box-sizing: border-box;
    background: none;
    outline: none;
    border: none;
    @include dTrans;
    
    &.default-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.4rem 1.4rem; 
        width: 26.5rem;
        border: 0.1rem solid #FFFFFF;
        border-radius: 5rem;

        @include dFont;
        color: white;
        font-size: 2.4rem;
        line-height: 2.8rem;

        // @include respond(mob) {
            
        // }

        &:hover {
            background: white;
        }
    }

    &.settings-button {
        height: 3rem;
        width: 3rem;
        background: url('@svg/icons/settings.svg') no-repeat;
        background-size: contain;
        filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(102deg) brightness(107%) contrast(101%);
        &:hover {
            filter: invert(74%) sepia(9%) saturate(1515%) hue-rotate(327deg) brightness(105%) contrast(104%);
        }
    }

    &:hover {
        cursor: pointer;
        color: $black;
    }
}

//==== FOOTER ====
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.6rem;
    color: white;

    #author {
        text-decoration: none;
        color: white;
        @include dTrans;
        &:hover {
            color: $accent;
            text-decoration: underline;
        }
        @include respond(from-tabl) {
            margin-left: auto;
        }
    }

    #rss {
        display: block;
        background: url('@svg/rs_school_logo.svg') no-repeat;
        background-size: contain;
        width: 6rem;
        height: 3rem;
        @include respond(mob) {
            width: 6rem;
            height: 3rem;
        }
        @include respond(from-tabl) {
            width: 10rem;
            height: 5rem;
        }
        
    }

    @include respond(from-tabl) {
        column-gap: 8rem;
    }

}