@mixin size {
    @include respond(mob) {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
    @include respond(from-mob) {
        font-size: 2rem;
        line-height: 2.3rem;
    }
}

.categories-screen__content {
    width: 100%;
    .page-title {
        width: 100%;
        text-align: left;
        margin-bottom: 5rem;
    }
    .category-collection {
        display: grid;
        .category-card {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            
            justify-content: space-between;
            &__name {
                @include size;
                @include dTrans;
            }

            &__layout {
                background: white;
                width: 100%;
                
                border-radius: 2rem;
                background-repeat: no-repeat;
                background-size: cover;

                @include respond(from-mob) {
                    height: 20rem;
                }  
                
                @include respond(mob) {
                    height: 16rem;
                }
            }

            &__progress {
                @include size; 
                @include dTrans;
            }

            &__play-again-badge {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                opacity: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $accent;
                font-weight: 500;
                @include size;
                color: $black;
                border-radius: 0 0 2rem 2rem;
                @include dTrans;
                span {
                    height: 1.6rem;
                    width: 1.6rem;
                    background-image: url('@svg/icons/replay.svg');
                    background-size: contain;
                    margin-right: 1rem;
                }
            }

            &.unplayed {
                .category-card__layout {
                    filter: grayscale(100%);
                }
            }

            &:hover {
                cursor: pointer;
                .category-card__name, .category-card__progress {
                    color: $accent;
                }
                &.played {
                    .category-card__play-again-badge {
                        height: 20%;
                        opacity: 1;
                    }
                }

                &.unplayed {
                    .category-card__layout {
                        filter: grayscale(50%);
                    }
                }
            }

            @include respond(mob) {
                row-gap: 0.8rem;
            }

            @include respond(tabl) {
                row-gap: 1rem;
            }
        }

        @include respond(from-desk) {
            grid-template-columns: repeat(6, 1fr);
            row-gap: 5rem;
            column-gap: 2.6rem;
        }

        @include respond(tabl) {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 2rem;
            column-gap: 2.3rem;
        }

        @include respond(mob) {
            margin-bottom: 10rem;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 2rem;
            column-gap: 1.8rem;
        }
    }
}