.loader {
    position: fixed;
    z-index: 1000;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles {
  display: flex;
  column-gap: 1.5rem;
    .circle {
        width: 1.5rem;
        height: 1.5rem;
        background-color: #808080;
        border-radius: 50%;
        animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
        transform-origin: bottom center;
        position: relative;
      }

      @keyframes loading {
        0%{
          transform: translateY(0px);
          background-color: #808080;
        }
        50%{
          transform: translateY(50px);
          background-color: $green;
        }
        100%{
          transform: translateY(0px);
          background-color: $black;
        }
      }
      .circle-1{
        animation-delay: 0.1s;
      }
      .circle-2{
        animation-delay: 0.2s;
      }
      .circle-3{
        animation-delay: 0.3s;
      }
      .circle-4{
        animation-delay: 0.4s;
      }
      .circle-5{
        animation-delay: 0.5s;
      }
      .circle-6{
        animation-delay: 0.6s;
      }
      .circle-7{
        animation-delay: 0.7s;
      }
      .circle-8{
        animation-delay: 0.8s;
      }
}


