.main-screen__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.2rem;
    @include respond(from-tabl) {
        row-gap: 12rem;
    }
}

.button-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    @include respond(from-desk) {
        flex-direction: row;
        column-gap: 4rem;
    }
}